<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key="MyClasses.ConnectionString" value="Valu this" />
  </appSettings>
  
  <connectionStrings>
    <add name="SmartITDataBase_debug" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(localdb)\mssqllocaldb;Initial Catalog=SmartITLab01" />
    <add name="JobProcessorDataBase_debug" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(localdb)\mssqllocaldb;Initial Catalog=SmartITLab01" />
  </connectionStrings>
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>